@font-face {
        	font-family: Comfortaa;
        	src: url("fonts/Comfortaa-Regular.ttf");
}

@font-face {
	        font-family: Consolas;
		src: url("fonts/consola.ttf");
}
   
html {
		font-family: Tahoma, Sans;
		font-size: 12px;
		background: #fff;
}

a {
		color: #000;
		font-weight: bold;
		text-decoration: none;
}

a:hover {
		text-decoration: underline;
}

form {
		margin-top: 10% !important;
		padding: 30px;
		width: 360px;
		height: 140px;
		margin: auto;
		border: 1px solid rgba(0,0,0,0.05);
		background-color: #fff;	
		background:-moz-linear-gradient( center top, rgba(0,0,0,0.00) 10%, rgba(0,0,0,0.03) 100% ), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAPCAIAAAHt9hMZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0RBOEYzNTNEQkE5MTFFMTgwMkJFNjk4ODI1NkM0ODEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0RBOEYzNTREQkE5MTFFMTgwMkJFNjk4ODI1NkM0ODEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3REE4RjM1MURCQTkxMUUxODAyQkU2OTg4MjU2QzQ4MSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3REE4RjM1MkRCQTkxMUUxODAyQkU2OTg4MjU2QzQ4MSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Ph88gYkAAAB1SURBVHjaYnjz5s1/MAAyGIEUAwwABBADRAxIIoQBAghVAQwwvX37FsJCZgAEEEI/MgOHCQzYABO6iWAAEEDYTcBuAHaHYWOQYioD0QAggLCHAbGhQr7VTMR4mQRfD5S9AAFGQqxQP0lQ2S8kuJGB2mBk+hoAwlXWrXM6SBoAAAAASUVORK5CYII=") center repeat scroll;
		background:-o-linear-gradient(top, rgba(0,0,0,0.01) 5%, rgba(0,0,0,0.05) 100% ), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAPCAIAAAHt9hMZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0RBOEYzNTNEQkE5MTFFMTgwMkJFNjk4ODI1NkM0ODEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0RBOEYzNTREQkE5MTFFMTgwMkJFNjk4ODI1NkM0ODEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3REE4RjM1MURCQTkxMUUxODAyQkU2OTg4MjU2QzQ4MSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3REE4RjM1MkRCQTkxMUUxODAyQkU2OTg4MjU2QzQ4MSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Ph88gYkAAAB1SURBVHjaYnjz5s1/MAAyGIEUAwwABBADRAxIIoQBAghVAQwwvX37FsJCZgAEEEI/MgOHCQzYABO6iWAAEEDYTcBuAHaHYWOQYioD0QAggLCHAbGhQr7VTMR4mQRfD5S9AAFGQqxQP0lQ2S8kuJGB2mBk+hoAwlXWrXM6SBoAAAAASUVORK5CYII=") center repeat scroll;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(0,0,0,0.02)), color-stop(1, rgba(0,0,0,0.05)) ), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAPCAIAAAHt9hMZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0RBOEYzNTNEQkE5MTFFMTgwMkJFNjk4ODI1NkM0ODEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0RBOEYzNTREQkE5MTFFMTgwMkJFNjk4ODI1NkM0ODEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3REE4RjM1MURCQTkxMUUxODAyQkU2OTg4MjU2QzQ4MSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3REE4RjM1MkRCQTkxMUUxODAyQkU2OTg4MjU2QzQ4MSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Ph88gYkAAAB1SURBVHjaYnjz5s1/MAAyGIEUAwwABBADRAxIIoQBAghVAQwwvX37FsJCZgAEEEI/MgOHCQzYABO6iWAAEEDYTcBuAHaHYWOQYioD0QAggLCHAbGhQr7VTMR4mQRfD5S9AAFGQqxQP0lQ2S8kuJGB2mBk+hoAwlXWrXM6SBoAAAAASUVORK5CYII=") center repeat scroll;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		     -o-border-radius: 4px;
		        border-radius: 4px;
		-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.01) inset, -1px 0px 1px rgba(0,0,0,0.01) inset, 0px 2px 1px rgba(0,0,0,0.03) inset;
		   -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.01) inset, -1px 0px 1px rgba(0,0,0,0.01) inset, 0px 2px 1px rgba(0,0,0,0.03) inset;
		     -o-box-shadow: 0px 1px 0px rgba(0,0,0,0.01) inset, -1px 0px 1px rgba(0,0,0,0.01) inset, 0px 2px 1px rgba(0,0,0,0.03) inset;
		        box-shadow: 1px 0px 1px rgba(0,0,0,0.01) inset, -1px 0px 1px rgba(0,0,0,0.01) inset, 0px 2px 1px rgba(0,0,0,0.03) inset;
}

.title {
		font-family: Comfortaa;
		font-weight: bold;
		font-size: 27px;
		text-align: center;
		text-shadow: 1px 1px 0 #fff;
		width: 360px;
		margin: auto;
}

input#upload {
		width: 100% !important;
}

.button {
		width: 100%;
		background-color: #ededed;
		font-family: Comfortaa;
		font-size: 27px;
		color: #000;
		text-shadow: 1px 1px 0px #ffffff;
		border: 1px solid #dcdcdc;
		font-weight: bold;
		padding: 6px 43px;
		text-decoration: none;
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	    	background: -o-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		-webkit-box-shadow: 0px 1px 0px 0px #fff inset;
		   -moz-box-shadow: 0px 1px 0px 0px #fff inset;
		     -o-box-shadow: 0px 1px 0px 0px #fff inset;
		        box-shadow: 0px 1px 0px 0px #fff inset;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		     -o-border-radius: 3px;
		        border-radius: 3px;
}

.button:hover {
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
		background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	    	background: -o-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
		background-color: #dfdfdf;
}

.button:active {
		position: relative;
		top: 1px;
}

div.text {
		font-family: Comfortaa;
		font-size: 40px;
		padding-top: 50px;
		padding-bottom: 10px;
		font-weight: bold;
}

.back {
	        text-align: center;
	        font-family: Comfortaa;
	        font-size: 40px;
        	font-weight: bold;
		padding-top: 25px;
		padding-bottom: 25px;
}

.back a {
		font-weight: bold;
		opacity: 0.7;
		text-decoration: none;
		-webkit-transition: 1s;
		   -moz-transition: 1s;
		     -o-transition: 1s;
		        transition: 1s;
}

.back a:hover {
		text-decoration: none;
		opacity: 1;
		-webkit-transition: 1s;
		   -moz-transition: 1s;
		     -o-transition: 1s;
		        transition: 1s;
}

.arrow {
		margin-bottom: -24px;
}

.result {
		padding-top: 10px;
		padding-bottom: 10px;
		margin: auto;
		min-width: 900px;
		width: 930px;
}

.info {
		border: 1px solid rgba(0,0,0,0.2);
		padding: 5px;
		float: right;
		width: 400px;
		background: #fff;
}

.padding_left {
		width: 100px;
		float: left;
}

.error {
		width: 900px;
		margin: auto;
		padding-top: 100px;
		padding-bottom: 45px;
}

.fail {
		font-family: Comfortaa;
		font-size: 100px;
		font-weight: bold;
		text-align: center;
		color: #ff0000;
		padding-bottom: 80px;
}

.message {
		font-family: Comfortaa;
		font-size: 50px;
		font-weight: normal;
		text-align: center;
		color: #000;
}

.image {
		width: 500px;
		padding: 5px;
		background: #fff;
		border: 1px solid rgba(0,0,0,0.2);
}

.popup {
		text-align: center;
		height: 20px;
		width: 508px;
		margin: auto;
		position: relative;
		left: -5px;
		background: rgba(255,255,255,0.8);
		opacity: 1;
		-webkit-transition: opacity 0.5s;
		   -moz-transition: opacity 0.5s;
		     -o-transition: opacity 0.5s;
		        transition: opacity 0.5s;
		border-bottom: 0px solid transparent;
		-webkit-border-radius: 0px 0px 4px 4px;
		   -moz-border-radius: 0px 0px 4px 4px;
		     -o-border-radius: 0px 0px 4px 4px;
		        border-radius: 0px 0px 4px 4px;
}
.image img {
		margin-top: -20px;
		-webkit-background: url("preload.gif") no-repeat center;
		   -moz-background: url("preload.gif") no-repeat center;
		     -o-background: url("preload.gif") no-repeat center;
		        background: url("preload.gif") no-repeat center;
}

.image:hover > .popup {
		opacity: 0;
		-webkit-transition: opacity 0.5s;
		   -moz-transition: opacity 0.5s;
		     -o-transition: opacity 0.5s;
		        transition: opacity 0.5s;
}

.done {
		display: block;
		min-height: 93px;
		max-width: 500px;
		max-height: 400px;
		margin: auto;
}

.bold {
		font-weight: bold;
}

.red {
		color: #ff0000;
}

.footer {
		text-align: center;
		font-size: 10px;
		text-decoration: none;
		margin: 40px 0 0 0;
		opacity: 0.5;
		-webkit-transition: 0.5s;
		   -moz-transition: 0.5s;
		     -o-transition: 0.5s;
		        transition: 0.5s;
}

.footer:hover {
		opacity: 1;
		-webkit-transition: 0.5s;
		   -moz-transition: 0.5s;
		     -o-transition: 0.5s;
		        transition: 0.5s;
}

.footer:hover a {
	    	text-decoration: underline;
}

.footer_text {
	        font-family: Consolas;
	        color: rgba(0,0,0,0.8);
}

.footer_text a {
	        font-weight: bold;
	        text-decoration: none;
}
